{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Pet Adoption Center</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Us</a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link btn btn-primary px-4 py-2" href="{% url 'login' %}">Login</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin-panel' %}">Admin Panel</a>
            </li>

            <li class="nav-item">
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="nav-link btn btn-danger px-4 py-2">Log Out</button>
                </form>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

